// Colours - Key

$innerbg: #ffffff; // white
$accent1: #b6d436; // door4 green
$accent2: #c09400; // gold
$accent3: #b50b35; // rustic red
$maintext: #3e3e3e; // charcoal grey - main text colour
$alttext: #ffffff; // white - an alternative text colour (to avoid grey on grey)

// Colours - Extras

$extra1: #5f5f5f; // a darker grey - used in borders
$extra2: #959590; // a light grey -for "faded" text

$facebook: #3B5998; // the facebook blue
$twitter: #1DCAFF; // the twitter light blue
$skype: #00AFF0; // the skype blue
$linkedin: #1683BB; //the linkedin blue.
$confirm: #a7c839; //confirmation green
